button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
    @include btn;
}

// General styles
.btn {
    text-decoration: none;
    @include font-size(1);
    @include btn;
    font-style: italic;
    border-radius: 2px;
    &:hover {
        text-decoration: none;
    }
    &:focus {
        outline: none;
    }
    &-fullwidth {
        width: 100%;
    }
}