.top-panel {
	text-align: left;
	margin-bottom: -1px;

	.home & {
		position: relative;
		z-index: 3
	}
	.home & + .header-container {
		padding-top: 100px;
	}
	.container & {
		padding-right: 0;
		padding-left: 0;
	}
	&__wrap {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		padding: 0;
		@include media-breakpoint-up(md) {
			padding-left: 0.9375rem;
			padding-right: 0.9375rem;
		}
		&:after {
			display: block;
			clear: both;
			width: 100%;
			content: '';
		}

		&.srch-on {

			.search-form {
				visibility: visible;
				opacity: 1;
			}

			.search__toggle::before {
				content: '\f00d';
			}

			.social-list {
				visibility: hidden;
				opacity: 0;
			}
		}

	}
	&__menu {
		order: 1;
		flex: 1 1 100%;
		padding: 8px 0 0;
		@include media-breakpoint-up(xl) {
			flex: 1 1 auto;
			padding: 8px 0;
		}
		.top-panel__menu-list {
			text-align: center;
			@include media-breakpoint-up(md) {
				text-align: left;
			}
		}
		li {
			@include font-size(1);
		}
	}
	&__message {
		display: none;
		order: 2;
		flex: 1 1 auto;
		padding: 10px 0;
		@include media-breakpoint-up(md) {
			display: block;
		}

		.info-block {
			margin: 0;
			padding: 0;
			display: inline-block;
			&::before {
				@include font-size(0.875);
				margin-right: 11px;
			}
			@include font-size(1);
			address, a {
				margin-bottom: 0;
				@include font-size(1);
				display: inline-block;
			}

			& + * {
				margin-left: 43px;
			}
		}
	}

	&__inner {
		order: 3;
		flex: 1 1 auto;
		max-width: 100%;
		position: relative;

		& > .top-panel__search + .social-list {
			position: absolute;
			left: 10px;
			top: 50%;
			transform: translateY(-50%);
			@include media-breakpoint-up(md) {
				left: 0;
			}
		}
	}

	* + .top-panel__inner {
		max-width: 100%;
		@include media-breakpoint-up(xl) {
			max-width: 270px;
		}
	}

	.social-list {
		display: inline-block;
		@include transition(.4s ease all);
	}

	&__search {
		text-align: right;
		position: relative;
		label {
			width: 93%;
			float: left;
			@include media-breakpoint-up(md) {
				width: 80%;
			}
		}
		.search-form {
			visibility: hidden;
			@include transition(.4s ease all);
			opacity: 0;
			background: #fdfcfa;
			height: 50px;
			width: 100%;
			max-width: 100%;
			&__field[type="search"] {
				width: 100%;
				height: auto;
				box-shadow: none;
			}
			&__submit {
				right: 25px;
				&::before {
					@include font-size(0.875);
				}
			}
		}

		.search__toggle {
			position: absolute;
			right: 10px;
			top: 50%;
			@include translate(0, -50%);
			@include transition(.3s ease all);
			@include font-size(1);
			&:hover {
				cursor: pointer;
			}
		}
	}
}