.post {
    &-author {
        &-bio {
            margin: 2em auto;
            max-width: 570px;
        }
        &__holder {
            padding: 1em;

            @include media-breakpoint-up(lg) {
                padding: 2em 2em 1em;
            }
        }
        &__avatar {
            float: left;
            margin: 0 1em 1em 0;

            @include media-breakpoint-up(lg) {
                margin: 0 2em 1em 0;
            }
            .avatar {
                width: 100px;
                vertical-align: top;
                border-radius: 50%;

                @include media-breakpoint-up(lg) {
                    width: auto;
                }
            }
        }
        &__title {
            font-style: italic;
            a {
                text-transform: capitalize;
            }
            @include media-breakpoint-up(lg) {
                font-size: 20px;
                line-height: 1.4;
                margin: 0 0 20px;
            }
        }
    }
}