
#customize-theme-controls #accordion-section-nikkon-site-layout-section .accordion-section-title:hover,
#customize-theme-controls #accordion-section-nikkon-header-section .accordion-section-title:hover,
#customize-theme-controls #accordion-section-nikkon-slider-section .accordion-section-title:hover,
#customize-theme-controls #accordion-section-nikkon-blog-section .accordion-section-title:hover,
#customize-theme-controls #accordion-section-nikkon-blocks-layout-section .accordion-section-title:hover,
#customize-theme-controls #accordion-section-nikkon-website-section .accordion-section-title:hover,
#customize-theme-controls #accordion-section-colors .accordion-section-title:hover,
#customize-theme-controls #accordion-section-nikkon-typography-section .accordion-section-title:hover,
#customize-theme-controls #accordion-section-nikkon-social-section .accordion-section-title:hover,
#customize-theme-controls #accordion-section-nikkon-footer-section .accordion-section-title:hover {
    background-color: #006CC9;
    color: #FFF;
}

#customize-controls .control-section .customize-section-title h3 {
	color: inherit;
}
#accordion-section-nikkon_premium a.button {
    background-color: #006CC9;
    color: #FFF;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset;
    border: 0;
    position: relative;
    top: -2px;
}
#accordion-section-nikkon_premium a.button:hover {
    background-color: #0952A9;
    color: #FFF;
}
.nikkon-prem-tryout {
    clear: both;
    text-align: right;
    font-size: 11px;
    line-height: 11px;
    text-decoration: none;
    padding: 4px 0 0;
}

.kaira-upsell {
    margin-top: 30px;
    font-size: 11px;
    color: rgb(142, 142, 142);
}
.kaira-upsell b {
    font-weight: 500;
    color: #006cc9;
}

#customize-control-custom_logo,
#customize-control-blogdescription,
#customize-control-nikkon-site-layout,
#customize-control-nikkon-header-remove-topbar,
#customize-control-nikkon-header-layout,
#customize-control-nikkon-header-menu-text,
#customize-control-nikkon-slider-type,
#customize-control-nikkon-slider-cats,
#customize-control-nikkon-blog-cats,
#customize-control-nikkon-blog-blocks-style,
#customize-control-nikkon-blog-blocks-remove-tagcats,
#customize-control-nikkon-body-font-color,
#customize-control-nikkon-website-head-no,
#customize-control-background_color,
#customize-control-nikkon-footer-layout {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0 0 25px;
    margin-bottom: 20px;
}

.nikkon-remove-section {
    display: none !important;
}
