#tm_builder_outer_content {
    .tm_pb_module {
        .post-meta,
        .tm_pb_post_meta,
        .tm-posts_item_meta {
            @include font-size(1);
            font-style: italic;
        }

        .tm-posts_item_meta a i {
            display: none;
        }

        .tm-posts_item_title {
            margin-top: 1em;
            margin-bottom: 10px;
            @include font-size(1.375);
        }

        .tm_pb_post_meta {
            margin-top: 15px;
            > * + * {
                margin-left: 10px;
            }
            > *:last-child {
                margin-right: 10px;
            }
        }

        &.tm_pb_posts {
            .btn i {
                display: none;
            }
        }

        &.tm_pb_blog {
            .tm_pb_post {
                margin-bottom: 30px;
                @include media-breakpoint-up(md) {
                    margin-bottom: 60px;
                }
            }

            .tm_pb_slider,
            .tm_main_video_container,
            .entry-featured-image-url {
                margin-bottom: 1.5em;
            }

            .entry-title {
                @include font-size(1.375);
            }

            .tm_pb_post_content {
                margin: 0.8em 0 0;
            }

            .more-link {
                margin-top: 1em;
                padding: 10px 18px;
                @include font-size(1);
                line-height: 1;
                display: inline-block;
                max-width: 100%;
                border: 2px solid;
                font-style: italic;
                border-radius: 2px;
            }

            .navigation.pagination {
                margin: 3em auto;
            }
        }
    }
}

