#tm_builder_outer_content .tm_pb_countdown_timer.tm_pb_module {
    max-width: 770px;
    margin: 0 auto;
    padding: 4% 1% 1%;

    h4 {
        margin-bottom: 5px;
        @include font-size(1.875);
    }

    .tm_pb_countdown_timer_container .section.zero .value {
        @include font-size(3.5);
    }

    .values {
        .value {
            @include font-size(2.5);
            @include media-breakpoint-up(sm) {
                @include font-size(4.25);
            }
        }

        .label {
            @include font-size(1);
            margin-top: 4px;
            font-style: italic;
        }
    }

    .sep .countdown-sep {
        @include font-size(3.5625);
        body.page & {
            color: #e3ddc9;
        }
    }
}

#tm_builder_outer_content .tm_pb_column_1_2 .tm_pb_countdown_timer.tm_pb_module {
    max-width: 370px;
    margin: 0 auto;
    padding: 7.5% 0 6%;
    @include media-breakpoint-up(md) {
        margin: 0 auto 0 0;
    }
    h4 {
        body.page & {
            @include font-size(1.375);
        }
    }
    .values {
        .value {
            @include font-size(2.0625);
            @include media-breakpoint-up(md) {
                @include font-size(3.0625);
            }
        }

        .label {
            margin-top: -8px;
            @include font-size(0.71875);
        }
    }
    .sep .countdown-sep {
        @include font-size(2.5625);
    }
}

#tm_builder_outer_content .tm_pb_column_1_2:first-child .tm_pb_countdown_timer.tm_pb_module {
    margin: 0 auto;
    @include media-breakpoint-up(md) {
        margin: 0 0 0 auto;
    }
}

#tm_builder_outer_content .tm_pb_number_counter.tm_pb_module {
    margin-bottom: 25px;
    h3 {
        padding: 25px 0 0;
        margin-bottom: 0;
    }
}




