#tm_builder_outer_content .tm_pb_social_media_follow.tm_pb_module {
    &.center {
        text-align: center;
    }
    .tm_pb_social_icon {
        float: none;
        display: inline-block;
        margin-bottom: 30px;
        & + li {
            margin-top: 0;
        }
        &::before {
            display: none;
        }
        .icon {
            background: transparent !important;
            @include font-size(0.75);
            float: none;
            margin-right: 32px;
        }
    }
}

