#tm_builder_outer_content {
    .tm_pb_module.tm_pb_taxonomy {
        .tm_pb_taxonomy__content {
            bottom: 10px;
            left: 10px;
            width: auto;
            &::before {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background: rgba(255, 255, 255, 0.7);
                z-index: -1;
                display: block;
            }
            h6 {
                @include font-size(1.75);
                margin-bottom: 0;
            }
        }
    }
}

