$color__background-screen: #f1f1f1;
$color__background-hr: #f5f1e4;
$color__background-input: #fdf5f2;
$color__background-pre: #eee;
$color__background-body : #fff;

$color__text-screen: #21759b;
$color__text-input: #666;

$color__border-footer: #4b4b4b;
$color__border-button: #ccc;
$color__border-input: #e0e0e8;
$color__border-abbr: #666;
$color__border-table: $color__background-hr;
$color__border-pre: darken( $color__background-pre, 10% );

$color__not-valid: #fe5c7a;
$color__valid: #398f14;
