// Options
$enable-rounded: false !default;



$border__radius: 2px;
$box__shadow: 0 5px 32px rgba(103,122,141,.17);
$box__shadow_mobile: 0 3px 15px rgba(103,122,141,.17);

$size__site-main: 100%;
$size__site-sidebar: 25%;

$input__indents: 14px 20px;

$button__indents: 10px 18px;
$button__border-radius: $border__radius;
$button__border: 2px solid;
$button__box-shadow: none;

$embed__ratio: 62.33%;  //  thumbnail height / thumbnail width