.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: $size__site-main;
	margin: 1em 0 0;
	position: relative;

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			margin-left: 0;

			li .caret {
				top: 0;
				padding: 4px 0 4px 8px;
			}

			a {
				border: none;
				padding: 0;
				@include font-size(0.875);
				margin-right: 1.4em;

				&:hover,
				&:focus,
				&:active {
					border: none;
				}
			}

			li:hover > ul,
			li.focus > ul {
				left: 100%;
			}

		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}

	}

	li {
		position: relative;
		margin: 0;
		width: $size__site-main;

		&:hover > a,
		&.focus > a {
			color: $color__code-gray;
		}

	}

	a {
		text-decoration: none;
		border-bottom: 2px solid transparent;
		padding: 4px 0;
		display: block;
		margin-right: 1.8em;
	}

	.sub-menu {
		border-top: 2px solid;
	    border-bottom: 2px solid;
	    padding: 10px 0;
	    margin: 10px 0;
	    display: none;

	    &.open {
			display: block;
		}
	}	

	.mega-menu a {
		padding: 4px 0;
	}

}

.main-navigation > div > ul > li:first-child {
	margin: 0;
}

.caret {
	position: absolute;
    right: 0;
    top: 0;
    padding: 10px 0;
    cursor: pointer;
    opacity: 0.5;
	
	&:hover {
		opacity: 0.8;
	}

	&.focus {
		opacity: 1;
	}

	&.genericon-downarrow {
		@include font-size(0.875);
	    margin-right: 3px;
	    margin-top: 6px;
	}

}

.mega-menu > .menu-item-has-children > a::before {
    margin-top: -2px !important;
    right: 7px !important;
}

.mega-menu > .menu-item-has-children > a::after {
    margin-top: 3px!important;
    right: 7px!important;
}

.mega-menu > .menu-item-has-children > a.selected::before {
    right: 10px!important;
    margin: 0!important;
}
.mega-menu > .menu-item-has-children > a.selected::after {
    margin-top: 0px!important;
    right: 5px!important;
}

.mega-menu > li > a {
	padding-left: 0;
}

.menu-toggle {
	display: none;
}

.site-main {

	.comment-navigation,
	.post-navigation {
	    border-top: 2px solid;
	    border-bottom: 2px solid;
	    font-weight: bold;
	    line-height: 1.3;
	    margin: 0 0 3.5em;
	    overflow: hidden;
	    padding: 2em 0;
	    clear: both;
	}

	.posts-navigation {
		overflow: hidden;
		margin: 5em 0 8em;
		clear: both;
	}

	.comment-navigation a,
	.posts-navigation a,
	.post-navigation a {
		text-decoration: none;
	}

}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation a,
.posts-navigation a {
	border: 2px solid;
    padding: 0.5em 1.25em;
    display: inline-block;
    font-weight: bold;
    background-color: $color__white;
    @include font-size(1.125);
    transition: all 0.3s ease-in-out;

    &:hover {
		background-color: $color__code-gray;
		color: $color__white;
		border-color: $color__code-gray;
	}
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/*--------------------------------------------------------------
## Social Menu
--------------------------------------------------------------*/
.social-menu {
	padding: 5%;
}

.has-site-info .social-menu {
	padding-bottom: 0;
}

.menu-social {
	list-style: none;
	margin: 0 0 0;
	padding: 0;
	clear: both;
	
	li {
		display: inline-block;
		list-style: none;
		margin: 0;
		padding: 0;
		
		a {
			width: 32px;
			height: 32px;
			overflow: hidden;
			color: $color__silver-chalice;
			padding: 2px;
			margin-right: 5px;
			margin-bottom: 5px;
			display: block;
			line-height: 1.6;
			text-align: center;
			text-decoration: none;
			background-color: $color__mine-shaft;
			transition: all 0.3s ease-in-out;

			&:hover {
				color: $color__white;
				background-color: $color__code-gray;
			}

			&:before {
				content: '\f408';
				display: inline-block;
				font-family: 'Genericons';
				@include font-size(1.125);
				vertical-align: top;
				-webkit-font-smoothing: antialiased;
			}

		}


		a[href*="wordpress.org"]::before,
		a[href*="wordpress.com"]::before {
			content: '\f205';
		}

		a[href*="facebook.com"]::before {
			content: '\f204';
		}

		a[href*="twitter.com"]::before {
			content: '\f202';
		}

		a[href*="dribbble.com"]::before {
			content: '\f201';
		}

		a[href*="plus.google.com"]::before {
			content: '\f206';
		}

		a[href*="pinterest.com"]::before {
			content: '\f210';
		}

		a[href*="github.com"]::before {
			content: '\f200';
		}

		a[href*="tumblr.com"]::before {
			content: '\f214';
		}

		a[href*="youtube.com"]::before {
			content: '\f213';
		}

		a[href*="flickr.com"]::before {
			content: '\f211';
		}

		a[href*="vimeo.com"]::before {
			content: '\f212';
		}

		a[href*="instagram.com"]::before {
			content: '\f215';
		}

		a[href*="codepen.io"]::before {
			content: '\f216';
		}

		a[href*="linkedin.com"]::before {
			content: '\f207';
		}

	}

}

/*--------------------------------------------------------------
## Top Menu
--------------------------------------------------------------*/
.top-menu {
	list-style: none;
	padding: 0;
	float: right;
	margin: 40px 5% 0;

	@media screen and ( max-width: 50em ) {
		float: none;
		margin: 40px auto 0;
		text-align: center;
	}

	li {
		@include font-size(.8);
		display: inline-block;

		a {
			text-decoration: none;
		}
	}
}

/*--------------------------------------------------------------
## Pagination
--------------------------------------------------------------*/
.pagination .prev:before,
.pagination .next:before,
.pagination .nav-links:before,
.pagination .nav-links:after,
.search-submit:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font-family: "Genericons";
	@include font-size(1);
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1;
	speak: none;
	text-align: center;
	text-decoration: inherit;
	text-transform: none;
	vertical-align: top;
}

.post-navigation {
	border-top: 4px solid $color__code-gray;
	border-bottom: 4px solid $color__code-gray;
	clear: both;
	margin: 0 7.6923% 3.5em;

	a {
		color: $color__code-gray;
		display: block;
		padding: 1.75em 0;

		&:hover .post-title,
		&:focus .post-title {
			color: $color__code-gray;
		}
	}

	span {
		display: block;
	}

	.meta-nav {
		color: $color__mine-shaft;
		@include font-size(0.875);
		line-height: 1.6;
		margin-bottom: 0.5em;
		text-transform: uppercase;
	}

	.post-title {
		display: inline;
		@include font-size(1.4);
		font-weight: 700;
		line-height: 1.2;
		text-rendering: optimizeLegibility;
	}

}

.pagination {
	border-top: 4px solid $color__code-gray;
	@include font-size(1.125);
	margin: 4em 0 0;
	min-height: 56px;
	position: relative;

	&:before,
	&:after {
		background-color: $color__code-gray;
		content: "";
		height: 52px;
		position: absolute;
		top:0;
		width: 52px;
		z-index: 0;
		opacity: 0.9;
	}

	&:before {
		right: 0;
	}

	&:after {
		right: 54px;
	}

	a:hover,
	a:focus {
		color: $color__code-gray;
	}

	.nav-links {
		padding-right: 106px;
		position: relative;

		&:before,
		&:after {
			color: $color__white;
			@include font-size(2);
			line-height: 51px;
			opacity: 0.3;
			position: absolute;
			width: 52px;
			z-index: 1;
		}

		&:before {
			content: "\f429";
			right: -1px;
		}

		&:after {
			content: "\f430";
			right: 55px;
		}
	}

	.page-numbers {
		line-height: 1;
		margin: 0;
		padding: 0.5em;
		text-transform: uppercase;
		text-decoration: none;
	}

	.current {
		display: inline-block;
		font-weight: 700;

		.screen-reader-text {
			position: static !important;
			display: none;
		}
	}

	.prev,
	.next {
		background-color: $color__code-gray;
		color: $color__white;
		display: inline-block;
		height: 52px;
		margin: 0;
		overflow: hidden;
		padding: 0;
		position: absolute;
		top: 0;
		width: 52px;
		z-index: 2;
		opacity: 0.8;
		transition: all 0.3s ease-in;

		&:before {
			@include font-size(2);
			height: 53px;
			line-height: 52px;
			position: relative;
			width: 53px;
		}

		&:hover,
		&:focus {
			opacity: 1;
			color: $color__white;
		}

		&:focus {
			outline: 0;
		}
	}

	.prev {
		right: 54px;

		&:before {
			content: "\f430";
			left: -1px;
			top: -1px;
		}
	}

	.next {
		right: 0;

		&:before {
			content: "\f429";
			right: -1px;
			top: -1px;
		}
	}
		
}

.image-navigation,
.comment-navigation {
	border-top: 1px solid $color__silver;
	border-bottom: 1px solid $color__silver;
	color: $color__mine-shaft;
	@include font-size(0.8125);
	line-height: 1.6;
	margin: 0 7.6923% 2.1538461538em;
	padding: 1.0769230769em 0;
}

.comment-navigation {
	margin-right: 0;
	margin-left: 0;
}

.comments-title + .comment-navigation {
	border-bottom: 0;
	margin-bottom: 0;
}

.image-navigation .nav-previous:not(:empty),
.image-navigation .nav-next:not(:empty),
.comment-navigation .nav-previous:not(:empty),
.comment-navigation .nav-next:not(:empty) {
	display: inline-block;
}

.image-navigation .nav-previous:not(:empty) + .nav-next:not(:empty):before,
.comment-navigation .nav-previous:not(:empty) + .nav-next:not(:empty):before {
	content: "\002f";
	display: inline-block;
	opacity: 0.7;
	padding: 0 0.538461538em;
}

@media screen and ( max-width: 50em ) {

	.main-navigation ul {
		display: none;
	}

	.main-navigation.toggled div > ul {
		display: block;
		margin-top: 1em;
	}

	.menu-toggle {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

}

@media only screen and (min-width: 1170px) {

	#primary-menu .cd-secondary-nav {
		left: 100%;
		top: -1px !important;
		border: 1px solid;
		width: 75vw !important;

	}

}
