@keyframes ball-scale-ripple {
    0% {
        transform: scale(0.1);
        opacity: 1;
    }
    70% {
        transform: scale(1);
        opacity: 0.7;
    }
    100% {
        opacity: 0.0;
    }
}

.page-preloader {
    position: relative;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    margin-top: -30px;
    margin-left: -30px;
    &-cover {
        position: fixed;
        z-index: 999;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        background-color: #fff;
    }
    &__cube {
        animation-fill-mode: both;
        height: 50px;
        width: 50px;
        border-radius: 100%;
        border: 2px solid red;;
        animation: ball-scale-ripple 1s 0s infinite cubic-bezier(.21, .53, .56, .8);
    }
}
