.footer-container {
    border-top: 1px solid $color__border-footer;
    .container & {
        padding-right: 0;
        padding-left: 0;
    }
}

.footer-area-wrap {
    padding-bottom: 55px;
    margin-top: 60px;
    & + .footer-container {
        .site-info {
            padding: 11px 30px 11px;
        }
    }
    aside{
        padding-bottom: 30px;
    }
}

.site-info {
    padding: 90px 30px 76px;

    .position-one-right-sidebar.single.single-post &,
    .position-one-left-sidebar.single.single-post & {
        border: none;
    }

    .footer-logo {
        margin: 30px 0 0 0;
        text-align: center;
        @include media-breakpoint-up(lg) {
            margin: 30px 0;
            text-align: left;
        }
    }

    .footer-copyright {
        @include font-size(1);
    }
    .social-list {
        margin: 30px 0 20px;
    }
    &__flex {
        display: flex;
        flex-direction: column;

        flex-wrap: wrap;
        -ms-flex-pack: justify;
        justify-content: space-between;
        align-content: stretch;
        align-items: flex-start;
        @include media-breakpoint-up(md) {
            flex-direction: row;
        }
        .footer-logo {
            order: 0;
            flex: 0 1 100%;
            align-self: center;
            @include media-breakpoint-up(lg) {
                flex: 0 1 auto;
            }
        }
        .social-list {
            order: 1;
            flex: 0 1 auto;
            align-self: center;
            @include media-breakpoint-up(md) {
                order: 2;
            }
        }
        .site-info__mid-box {
            text-align: center;

            order: 2;
            flex: 0 1 auto;
            align-self: center;
            @include media-breakpoint-up(md) {
                order: 1;
            }
        }
    }
}

@import "footer/layout-default";
@import "footer/layout-centered";
@import "footer/layout-minimal";