.header-container {
	padding-bottom: 33px;
	padding-top: 52px;
	border-bottom: 1px solid #f5f1e4;

	@media (max-width: 767px) {
		text-align: center;
		padding-bottom: 25px;
		padding-top: 20px;
		#site-navigation.main-navigation {
			padding-top: 1.9em;
			position: relative;
			z-index: 555;
			&.isStuck {
				background: #fff;
				left: 0;
				padding: 1em 0;
				-webkit-box-shadow: 0 0 10px -4px rgba(0, 0, 0, 0.1);
				-moz-box-shadow: 0 0 10px -4px rgba(0, 0, 0, 0.1);
				box-shadow: 0 0 10px -4px rgba(0, 0, 0, 0.1);
				&::before {
					display: none;
				}
			}
			.menu {
				background: #fff;
				margin-top: 30px;
				padding: 20px 0;

				> li.menu-item {
					border-bottom: 1px solid $color__background-hr;
					margin: 0 0 10px 0;
					padding-bottom: 10px;
					position: relative;
					.sub-menu-toggle {
						position: absolute;
						top: 7px;
						right: 30px;
						display: inline-block;
						height: 20px;
						width: 20px;
						border-radius: 50%;
						z-index: 22;
						text-align: center;
						@include transition(.3s ease all);
						&.active {
							transform: rotate(90deg);
						}
						&:hover {
							cursor: pointer;
						}
						&::before {
							@include font-size(1);
							font-family: FontAwesome;
							content: '\f105';
							line-height: 20px;
							position: absolute;
							top: 44%;
							left: 53%;
							@include translate(-50%, -50%);
						}
					}
					&.sub-menu-open {
						> .sub-menu {
							display: block;
							padding: 15px 0;
							font-style: italic;
							li a {
								@include font-size(1.1);
							}
							.sub-menu-toggle {
								top: 1px;
								font-style: normal;
							}
						}
					}
					> .sub-menu {
						display: none;
						> .menu-item {
							&::after {
								display: none;
							}
							.sub-menu {
								display: none;
							}
							&.sub-menu-open {
								.sub-menu {
									padding: 15px 0;
									display: block;
								}
							}
						}
					}
				}
			}
			&::before {
				content: '';
				position: absolute;
				top: 5px;
				left: -1000px;
				right: -1000px;
				height: 1px;
				background: $color__background-hr;
				.home & {
					display: none;
				}
			}
		}
	}

	.home & {
		border: none;
		position: relative;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		z-index: 2;
		min-height: 600px;
	}

	.admin-bar & {
		top: 32px;
	}
	.main-navigation {
		@include media-breakpoint-up(md) {
			&.isStuck {
				position: fixed;
				z-index: 1000;
				right: 0;
				left: 0;
				background: #fff;
				padding: 1.3em 0 1em;
				-webkit-box-shadow: 0 0 10px -4px rgba(0, 0, 0, 0.1);
				-moz-box-shadow: 0 0 10px -4px rgba(0, 0, 0, 0.1);
				box-shadow: 0 0 10px -4px rgba(0, 0, 0, 0.1);
				.sub-menu {
					top: 55px !important;
					.sub-menu {
						top: -29px !important;
					}
				}
				.menu > li {
					margin-bottom: 0;
					a > .menu-item__desc {
						display: none;
					}
				}
			}
		}
	}
	.container & {
		padding-right: 0;
		padding-left: 0;
	}
}

.home {
	.entry-content {
		margin-top: 0;
	}
}

@import "header/layout-default";
@import "header/layout-centered";
@import "header/layout-minimal";
@import "header/top-panel";
@import "header/logo";