.post {
	/* Gallery */

	&-gallery {
		margin-bottom: 1.5em;
		.post-gallery__link{
			margin-bottom: 1.5em;
		}

		.position-one-right-sidebar.single &,
		.position-one-left-sidebar.single &,
		.content-layout-fullwidth.single & {
			margin: 0 0 2em;

			@include media-breakpoint-up(xl) {
				margin: 0 0 5em;
			}
		}

		.single & {
			margin: 0 0 2em;

			@include media-breakpoint-up(md) {
				margin: 0 -100px 2em;
			}

			@include media-breakpoint-up(lg) {
				margin: 0 -150px 2em;
			}

			@include media-breakpoint-up(xl) {
				margin: 0 -300px 2em;
			}
		}

		&__image {
			display: block;
			margin: auto;
		}

		.swiper-button-next,
		.swiper-button-prev {
			top: 50%;
			@include translate(0, -50%);
			@include transition(.3s ease all);
			height: auto;
			width: auto;
			padding: 10px;
			background: #fff;
			margin: 0;
			@include media-breakpoint-up(sm) {
				padding: 13px 20px;
			}
			i::before {
				font-family: "arrows";
				font-style: normal;
			}
		}

		.swiper-button-prev {
			left: 0;
			i::before {
				content: '\e00f';
			}
		}

		.swiper-button-next {
			right: 0;
			i::before {
				content: '\e00d';
			}
		}

		.arrows,
		.fa {
			font-size: 26px;
		}
		&__slide {
			&.swiper-slide:hover {
				&:hover {
					background-color: transparent;
				}
			}
		}
		&__caption {
			position: absolute;
			right: 0;
			bottom: 0;
			left: 0;
			padding: 15px;
			color: #fff;
			background: rgba(0, 0, 0, .5);
		}
		&__link {
			display: block;
		}
	}
	/* Link */

	&_format-post-format-link {
		.post-thumbnail {
			margin-bottom: 1.5em;
		}
	}

	&-thumbnail__format-link {
		.single & {
			margin-bottom: 1.5em;
		}
		text-align: center;
		padding: 85px 0;
	}
	&-format-link {
		display: inline-block;
		text-decoration: none;
		@include font-size(1);
		@include media-breakpoint-up(md) {
			@include font-size(1.875);
		}
	}
	&-thumbnail {
		.has-thumb & {
			position: relative;
		}
		.content-layout-fullwidth & {
			img {
				width: 100%;
			}
		}
		&__format-link {
			.has-thumb & {
				top: 50%;
				right: 0;
				bottom: 50%;
				left: 0;
				text-align: center;
				margin-bottom: 1.2em;
				.post-format-link {
					margin: -20px 0 0 0;
				}
			}
		}
	}
	/* Quote */
	&-quote {
		overflow: hidden;
		.content-layout-fullwidth & {
			img {
				width: 100%;
			}
		}
		&.post-featured-content {
			margin-bottom: 0;
			.post-thumbnail--fullwidth {
				margin-bottom: 0;
			}
		}
		position: relative;
		&::before {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}
	}

	&_format-post-format-image {
		overflow: hidden;
	}

	&-format-quote {
		pointer-events: none;
		position: relative;
		top: 0;
		left: 0;
		@include translate(0, 0);
		text-align: center;
		width: 100%;
		margin-top: 0;
		padding: 15px;
		@include font-size(1);
		@include media-breakpoint-up(md) {
			@include font-size(1.5);
		}

		.posts-list.posts-list--grid-2-cols &,
		.posts-list.posts-list--grid-3-cols &,
		.posts-list.posts-list--masonry-2-cols &,
		.posts-list.posts-list--masonry-3-cols & {
			@include font-size(1.1);
		}

		@include media-breakpoint-up(sm) {
			position: absolute;
			top: 50%;
			left: 50%;
			@include translate(-50%, -50%);
			text-align: center;
			width: 70%;
			padding: 0;
		}
	}

	/* Wrapper for non-image featured content */
	&-featured-content {
		margin-bottom: 1.5em;

		.format-video & {
			background: none;

		}
	}
	&.format-status {
		.post__cats {
			padding: 0 0 10px;
		}
	}
}

.post_format-post-format-quote .entry-header {
	margin-top: 1.5em;
}

.blog {
	.post_format-post-format-audio {
		.entry-content > .mejs-container {
			display: none;
		}
	}
	.post_format-post-format-gallery {
		.entry-content > .post-gallery {
			display: none;
		}
	}
}

.post_format-post-format-audio {
	.entry-title {
		margin-bottom: 0.6em;
	}
}

/* Aside */
.format {
	&-aside {
		.entry-title {
			.blog &,
			.archive & {
				display: none;
			}
		}
	}
}