.post-thumbnail + .sticky__label {
    position: absolute;
    z-index: 99;
    left: -52px;
    top: 25px;
    transform: rotate(-45deg);
}

.sticky {
    display: block;
    &__label {
        pointer-events: none;
        height: 40px;
        width: 180px;
        position: relative;
        display: block;
        margin: 0 auto 10px;
        border-radius: $border__radius;
        .material-icons,
        .fa {
            position: absolute;
            @include font-size(1.25);
            display: block;
            left: 52%;
            top: 50%;
            @include translate(-50%, -50%);
        }

    }
    &.posts-list__item {
        .btn {
            @include media-breakpoint-up(lg) {
                .posts-list--grid-2-cols &,
                .posts-list--grid-3-cols & {
                    padding: $button__indents;
                }
                .two-sidebars & {
                    padding: 0;
                }
            }

            &__icon,
            .material-icons,
            .fa {
                @include media-breakpoint-up(lg) {
                    display: none;
                    .posts-list--masonry-2-cols &,
                    .posts-list--masonry-3-cols & {
                        display: inline-block;
                    }
                }
                .two-sidebars & {
                    display: inline-block;
                }
            }
        }
    }
    .post-thumbnail__img {
        width: 100%;
    }
}