.optics-customize-pro {
	background: #f96352;
	padding: 0px 6px;
	color: #fff;
	font-size: 0.75rem;
	margin-top: 5px;
	clear: both;
	display: inline-block;
}

.optics-customize-pro:hover,
.optics-customize-pro:focus {
	color: #fff;
	background-color: #ef3c27;
}

#accordion-panel-theme_options h3:before {
    float: right;
    top: 5px;
    margin-right: 30px;
}

#accordion-panel-theme_options .accordion-sub-container h3:before {
	margin-right: 10px;
}

#accordion-panel-theme_options h3:before {
	content: "PRO";
	position: relative;
	top: 2px;
	margin-left: 8px;
	padding: 3px 6px !important;
	line-height: 1.5 !important;
	font-size: 9px !important;
	color: #ffffff !important;
	background-color: #f96352;
	letter-spacing: 1px;
	text-transform: uppercase;
	-webkit-font-smoothing: subpixel-antialiased !important;
}

#accordion-panel-theme_options h3:hover:before,
#accordion-panel-theme_options h3:focus:before {
	background-color: #ef3c27;
}

#accordion-panel-theme_options input {
	display: none;
}

#accordion-panel-theme_options span input {
	display: block;
}
