.widget {

  .widget-title {
    @include font-size(1.375);
    position: relative;
    margin-bottom: 45px;
    &::before {
      content: '';
      height: 2px;
      width: 170px;
      position: absolute;
      bottom: -15px;
      left: 0;
    }
  }

  ul {
    margin-bottom: 0;
    margin-left: 0;
    padding: 0;
    li.page_item_has_children::before,
    li.menu-item-has-children::before{
      top: 0;
      @include translate(0, 0);
    }
  }
  > ul {

    > li {
      &:first-child {
        margin-top: 0;
      }
    }
  }
  li {
    position: relative;
    list-style: none;
    margin-top: 0.7em;
    > ul {
      margin-left: 0;
    }
  }
}

.widget_archive,
.widget_categories,
.widget_pages,
.widget_meta,
.widget_rss,
.widget_nav_menu {
  li {
    padding-left: 47px;
    &::before {
      content: '\f105';
      position: absolute;
      left: 0;
      top: 50%;
      -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
      font-family: FontAwesome;
      font-size: 18px;
    }
  }
}

/*--------------------------------------------------------------
## Widget Calendar
--------------------------------------------------------------*/
.widget_calendar {
  table {
    margin-bottom: 0;
    text-align: left;
    position: relative;
  }
  caption {
    @include font-size(1.375);
    margin-bottom: 16px;
  }
  thead th {
    font-style: italic;
    font-weight: 400;
    @include font-size(1);
  }
  th, tbody td {
    padding: .25em 0;
    text-align: center;
  }
  td {
    body & {
      padding: .05em 0;
    }
  }
  tbody td > a {
    display: block;
    max-width: 35px;
    margin: 0 auto;
    border-radius: $border__radius;
  }
  tfoot {
    position: absolute;
    top: 4px;
    left: 20px;
    right: 20px;
    @include media-breakpoint-only(md) {
      position: relative;
      top: auto;
      left: auto;
      right: auto;
    }
  }
  #next {
    text-align: right;
  }
}

/*--------------------------------------------------------------
## Widget Tag Cloud
--------------------------------------------------------------*/
.tagcloud {
  a {
    display: inline-block;
    margin: 0 5px 5px 0;
    text-transform: capitalize;
    vertical-align: top;
    text-decoration: none;
    border: 2px solid;
    font-size: 16px !important;
    font-style: italic;
    border-radius: $border__radius;
    padding: 5px 14px;
    &:focus {
      outline: none;
    }
  }
}

/*--------------------------------------------------------------
## Widget Recent Posts
--------------------------------------------------------------*/
.widget_recent_entries {
  li {
    margin-left: 0;
    &::before {
      display: none;
    }
    & + li {
      margin-top: 1em;
    }
    .post-date {
      font-size: .85em;
      display: block;
    }
  }
}

/*--------------------------------------------------------------
## Widget Recent Comments
--------------------------------------------------------------*/
.widget_recent_comments {
  li {
    @include font-size(1.25);
    span {
      text-transform: capitalize;
    }
    margin-left: 0;
    &::before {
      display: none;
    }
    & + li {
      margin-top: 1.6em;
    }
  }
}

.textwidget {
  blockquote {
    &::before {
      @include font-size(3.75);
      top: 0;
      left: 0;
      @include translate(0, 0);
    }
    p {
      margin-bottom: 13px;
    }
    cite::before {
      display: none;
    }
  }
}