.widget-taxonomy-tiles {
	&__holder {
		float: left;
		padding: 0;
		transform: translateZ(0);
	}
	&__inner {
		position: relative;
		overflow: hidden;

		.tiles-columns & {
			position: absolute;
			width: 100%;
			height: 100%;
		}
		.term-img {
			display: block;
			width: 100%;
			height: auto;
		}
	}
	.tiles-columns {
		.term-img {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
		}
	}
	&__content {
		position: absolute;
		z-index: 0;
		top: 50%;
		left: 0;
		width: 100%;
		padding: 20px;
		@include translate(0, -50%);
		&:before {
			position: absolute;
			z-index: -1;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			content: '';
			opacity: 0.9;

			@include transition( all 0.5s ease );
		}
	}
	&__title {
		margin: 0;
		@include font-size(1.75);
	}
	.tiles-columns {
		display: block;

		@include tiles(tile-xs-x, width, 1);
		@include tiles(tile-sm-x, width, 2);
		@include tiles(tile-md-x, width, 3);
		@include tiles(tile-lg-x, width, 4);
		@include tiles(tile-xl-x, width, 6);
		@include tiles(tile-xs-y, height, 1);
		@include tiles(tile-sm-y, height, 2);
		@include tiles(tile-md-y, height, 3);
		@include tiles(tile-lg-y, height, 4);
		@include tiles(tile-xl-y, height, 6);
		&:after {
			display: block;
			clear: both;
			content: '';
		}
		.tile-xs-x, .tile-sm-x, .tile-md-x, .tile-lg-x, .tile-xl-x {
			.sidebar-primary &,
			.sidebar-secondary &,
			.footer-area & {
				width: 50%;
			}
		}
	}
}

@include media-breakpoint-up(md) {
	.sidebar-primary,
	.sidebar-secondary,
	.footer-area {
		.widget-taxonomy-tiles {
			.columns-number-3,
			.columns-number-4 {
				.widget-taxonomy-tiles__content {
					display: none;
				}
			}
		}
	}
}